body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8fbff+0,80f2df+100 */
background: #e8fbff; /* Old browsers */
background: -moz-linear-gradient(top, #e8fbff 0%, #80f2df 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e8fbff 0%,#80f2df 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e8fbff 0%,#80f2df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8fbff', endColorstr='#80f2df',GradientType=0 ); /* IE6-9 */
}

body {
	color:white;
	font-family: 'Slabo 27px', serif;
}

